modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["glib", "nspr", "nss", "dbus", "atk", "at-spi2-atk", "cups", "at-spi2-core", "mesa", "cairo", "pango", "alsa-lib", "xorg.libxcb", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "libxkbcommon", "libgbm", "xorg.libXcursor", "xorg.libXi", "gtk3", "gdk-pixbuf"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd my-brothers-keeper && pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33875
externalPort = 4200

[[ports]]
localPort = 35241
externalPort = 3001

[[ports]]
localPort = 36709
externalPort = 3002

[[ports]]
localPort = 40811
externalPort = 3003

[[ports]]
localPort = 45159
externalPort = 3000

[deployment]
deploymentTarget = "gce"
build = ["pnpm", "run", "build"]
run = ["pnpm", "run", "start"]

[objectStorage]
defaultBucketID = "replit-objstore-cce36624-a6f7-4498-9b5b-6fb5bf527c9a"
